/*-------RESET---------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  object-fit: contain;
}
ul {
  list-style-type: none;
}
input,
button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-family: inherit;
}
button {
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  transition: transform .5s;
}
button:hover {
  transform: scale(1.1);
  transition: transform .5s;
}
/*-------APP---------*/
.app__header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.app__container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  transition: transform .5s;
}
.app__container:hover {
  transform: scale(1.1);
  transition: transform .5s;
}